<div class="product-item">
    <img [src]="product.imageUrl" alt="{{ product.name }}">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <a [href]="product.link" target="_blank" class="kaspi-button">Купить на Kaspi</a>
    <div class="buttons">
      <button (click)="likeProduct()">❤️ {{ product.likes }}</button>
      <button (click)="removeProduct()" class="product-item button">🗑️ Удалить</button>
      <button (click)="shareOnWhatsApp()" class="product-item button">📤 Поделиться</button>
    </div>
  </div>